<h1>Weddings</h1>

<% if @my_attendances.first != nil %>
<h2>Your wedding</h2>
<% end %>

<% @my_attendances.each do |a| %>
<div class="parallax-window" data-parallax="scroll" data-image-src= "<%= a.wedding.wedding_image.url %>">
  <%= link_to wedding_path(a.wedding) do %>
  <div class="fader">
  <div class="my-wedding-gradient"></div>
  </div>
  <div class="image-cover wedding-show-fade">
  </div>
  <div class="wedding-show-text">
  <h2><%= a.wedding.name %></h2>
  <p><%= a.wedding.description %></p>
  </div>
  <div class="mouseover-show">
  </div>
  <% end %>
</div>
<% end %>

<% if @admin_attendances.first != nil || @guest_attendances.first != nil %>
<h2>Friend's weddings</h2>
<% end %>

<% @admin_attendances.each do |a| %>
<div class="parallax-window" data-parallax="scroll" data-image-src= "<%= a.wedding.wedding_image.url %>">
  <%= link_to wedding_path(a.wedding) do %>
  <div class="fader">
  <div class="admin-wedding-gradient"></div>
  </div>
  <div class="image-cover wedding-show-fade">
  </div>
  <div class="wedding-show-text">
  <h2><%= a.wedding.name %></h2>
  <p><%= a.wedding.description %></p>
  </div>
  <div class="mouseover-show">
  </div>
  <% end %>
</div>
<% end %>
<% @guest_attendances.each do |a| %>
<div class="parallax-window" data-parallax="scroll" data-image-src= "<%= a.wedding.wedding_image.url %>">
  <%= link_to wedding_path(a.wedding) do %>
  <div class="fader">
  <div class="guest-wedding-gradient"></div>
  </div>
  <div class="image-cover wedding-show-fade">
  </div>
  <div class="wedding-show-text">
  <h2><%= a.wedding.name %></h2>
  <p><%= a.wedding.description %></p>
  </div>
  <div class="mouseover-show">
  </div>
  <% end %>
</div>
<% end %>

<% if @unconfirmed_attendances.first != nil %>
<h2>Weddings to confirm</h2>
<% end %>

<% @unconfirmed_attendances.each do |a| %>
<div class="parallax-window" data-parallax="scroll" data-image-src= "<%= a.wedding.wedding_image.url %>">
  <%= link_to confirm_wedding_attendance_path(a.wedding.id, a.id), method: :patch do %>
  <div class="fader">
  <div class="unconfirmed-wedding-gradient"></div>
  </div>
  <div class="image-cover wedding-show-fade">
  </div>
  <div class="wedding-show-text">
  <h2><%= a.wedding.name %></h2>
  <p><%= a.wedding.description %></p>
  </div>
  <div class="mouseover-show">
  </div>
  <% end %>
</div>
<% end %>

<%= link_to new_wedding_path do %>
<div class="new-wedding-link">
  <div class="tester">
  </div>
  <h2>Organising a Wedding?</h2>
  <p>Click here to register your wedding</p>
</div>
<% end %>
