<h1>Weddings#index</h1>

<% @my_attendances.each do |a| %>
  <ul>
    <li>My Wedding</li>
    <li><%= link_to a.wedding.name, wedding_path(a.wedding) %></li>
    <li><%= a.wedding.wedding_image %></li>
    <li><%= a.wedding.description %></li>
  </ul>
<% end %>
<% @admin_attendances.each do |a| %>
  <ul>
    <li>Admin Weddings</li>
    <li><%= link_to a.wedding.name, wedding_path(a.wedding) %></li>
    <li><%= a.wedding.wedding_image %></li>
    <li><%= a.wedding.description %></li>
  </ul>
<% end %>
<% @guest_attendances.each do |a| %>
  <ul>
    <li>Guest Wedding</li>
    <li><%= link_to a.wedding.name, wedding_path(a.wedding) %></li>
    <li><%= a.wedding.wedding_image %></li>
    <li><%= a.wedding.description %></li>
  </ul>
<% end %>
<% @unconfirmed_attendances.each do |a| %>
  <ul>
    <li>Unconfirmed Wedding</li>
    <li><%= link_to a.wedding.name, wedding_path(a.wedding) %></li>
    <li><%= a.wedding.wedding_image %></li>
    <li><%= a.wedding.description %></li>
    <li><%= link_to "Confirm Attendance", confirm_wedding_attendance_path(a.wedding.id, a.id), method: :patch %></li>
  </ul>
<% end %>

<ul>
  <li>Organising a Wedding?</li>
  <li><%= link_to "Click here to register your wedding", new_wedding_path %></li>
</ul>

<h2>Wedding List</h2>
<ul>
  <%= render @weddings %>
</ul>
