<div class="parallax-window show-wedding-header" data-parallax="scroll" data-image-src= "<%= @wedding.wedding_image.url %>">
  <div class="image-cover">
    <h1><%= @wedding.name %></h1>
    <p><%= @wedding.description %></p>
    <% if admin_status? %>
    <div class="buttonsbox">
      <p><%= link_to "Edit wedding details", edit_wedding_path(@wedding), class: "button small radius"%></p>
      <p><%= link_to "Manage Guests", wedding_attendances_path(@wedding), class: "button small radius"%></p>
    </div>
    <% end %>
  </div>
</div>

<div class="wish-search-header">

  <%= search_form_for @q, url: wedding_path(@wedding) do |f| %>
  <%= f.label :name_cont %>
  <%= f.text_field :name_cont %><br>
  <%= f.submit class: "button small radius"%>
  <% end %>

  <div>
    <%= link_to "Add a wish", new_wedding_wish_path(@wedding),class: "button small radius" %>
  </div>

</div>


<% if (@your_claimed_wishes.first == nil) && (@unclaimed_wishes.first == nil) && (@claimed_wishes.first == nil) %>
<div class="seperator">
  <%= image_tag("seperator2.png", class: "seperator") %>
</div>
<div class="no-wish-image">
<h2>No wishes found</h2>
<p>Check back later after the couple adds some</p>
</div>
<% end %>


<% if @your_claimed_wishes.first != nil %>
<div class="seperator">
  <%= image_tag("seperator2.png", class: "seperator") %>
</div>
<div class="text-center wish-section-title"><%= image_tag("present1.png", class: "wish-section-image") %>
<h3 class="wish-section-title">Wishes you've claimed</h3>
</div>

<% @your_claimed_wishes.each do |wish| %>
<div class="wish-container clearfix">
  <%= image_tag wish.image.url, class: "left wish-image" %>
  <h3><%= wish.name %></h3>
  <p><%= wish.details %></p>

  <div class="wish-buttons right">
    <% if admin_status? %>
    <%= link_to "Edit Wish", edit_wedding_wish_path(@wedding, wish), class: "button small radius" %>
    <a data-reveal-id="deleteWish<%= wish.id %>" class="button small radius">Delete Wish</a>
    <% end %>
    <a data-reveal-id="unclaimWish<%= wish.id %>" class="button small radius">Unclaim Wish</a>
  </div>
</div>


<div class="reveal-modal" id="deleteWish<%= wish.id %>" data-reveal>
  <h1>Delete this wish?</h1>
  <p class="lead">Are you sure you want to delete this wish</p>
  <p><%= link_to "Delete Wish", wedding_wish_path(@wedding, wish), method: :delete, class: "button small radius" %></p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div class="reveal-modal" id="unclaimWish<%= wish.id %>" data-reveal>
  <h1>Unclaim this wish?</h1>
  <p class="lead">Are you sure you want to unclaim this wish</p>
  <p><%= link_to "Unclaim Wish", unclaim_wedding_wish_path(@wedding, wish), method: :patch, class: "button small radius" %></p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<% end %>
<% end %>

<% if @unclaimed_wishes.first != nil %>
<div class="seperator">
  <%= image_tag("seperator2.png", class: "seperator") %>
</div>
<div class="text-center wish-section-title"><%= image_tag("present2.png", class: "wish-section-image") %>
<h3 class="wish-section-title">Unclaimed wishes</h3>
</div>
<% @unclaimed_wishes.each do |wish| %>
<div class="wish-container unclaimed clearfix">
  <%= image_tag wish.image.url, class: "left wish-image" %>
  <h3><%= wish.name %></h3>
  <p><%= wish.details %></p>

  <div class="wish-buttons right">
    <% if admin_status? %>
    <%= link_to "Edit Wish", edit_wedding_wish_path(@wedding, wish), class: "button small radius" %>
    <a data-reveal-id="deleteWish<%= wish.id %>" class="button small radius">Delete Wish</a>
    <% end %>
    <a data-reveal-id="claimWish<%= wish.id %>" class="button small radius">Claim Wish</a>
  </div>
</div>

<div class="reveal-modal" id="deleteWish<%= wish.id %>" data-reveal>
  <h1>Delete this wish?</h1>
  <p class="lead">Are you sure you want to delete this wish</p>
  <p><%= link_to "Delete Wish", wedding_wish_path(@wedding, wish), method: :delete, class: "button small radius" %></p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div class="reveal-modal" id="claimWish<%= wish.id %>" data-reveal>
  <h1>Claim this wish?</h1>
  <p class="lead">Are you sure you want to claim this wish</p>
  <p><%= link_to "Claim Wish", claim_wedding_wish_path(@wedding, wish), method: :patch, class: "button small radius" %></p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<% end %>
<% end %>


<% if @claimed_wishes.first != nil %>
<div class="seperator">
  <%= image_tag("seperator2.png", class: "seperator") %>
</div>

<div class="text-center wish-section-title"><%= image_tag("present3.png", class: "wish-section-image") %>
<h3 class="wish-section-title">Claimed wishes</h3>
</div>

<% @claimed_wishes.each do |wish| %>

<div class="wish-container claimed clearfix">
  <%= image_tag wish.image.url, class: "left wish-image" %>
  <h3><%= wish.name %></h3>
  <h4>Wish claimed!</h4>
  <p><%= wish.details %></p>
  <% if admin_status? %>
  <p>Wish claimed by: <%= wish.user.first_name %> <%= wish.user.last_name %></p>
  <% end %>
  <div class="wish-buttons right">
    <% if admin_status? %>
    <%= link_to "Edit Wish", edit_wedding_wish_path(@wedding, wish), class: "button small radius" %>
    <a data-reveal-id="deleteWish<%= wish.id %>" class="button small radius">Delete Wish</a>
    <% end %>
  </div>
</div>

<div class="reveal-modal" id="deleteWish<%= wish.id %>" data-reveal>
  <h1>Delete this wish?</h1>
  <p class="lead">Are you sure you want to delete this wish</p>
  <p><%= link_to "Delete Wish", wedding_wish_path(@wedding, wish), method: :delete, class: "button small radius" %></p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<% end %>
<% end %>