<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">WeiDing Gifts</h1>
      </section>

    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <% if user_signed_in? %>
        <li><label>Wedding</label></li>
        <% if session[:current_wedding] %>
        <% current_wedding = Wedding.find(session[:current_wedding]) %>
        <li><%= link_to current_wedding.name, wedding_path(session[:current_wedding]) %></li>
        <% end %>

        <% else %>

        <% end %>

        <% if user_signed_in? %>
        <li><label>User Options</label></li>
        <li><%= link_to "Weddings List", weddings_path %></li>

          <li class="has-dropdown">
            <a><%= current_user.email %></a>
            <ul class="dropdown">
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
          <% else %>
          <li><%= link_to "Home/Login", new_user_session_path %></li>
          <li><%= link_to "Register",new_user_registration_path %></li>
          <% end %>
      </ul>
    </aside>

    <section class="main-section">

