<header>
  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">

      <ul class="title-area">
        <li class="name">
          <h1>WeiDings</h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          <% if user_signed_in? %>
          <% if session[:current_wedding] %>
          <% current_wedding = Wedding.find(session[:current_wedding]) %>
          <li><%= link_to current_wedding.name, wedding_path(session[:current_wedding]) %></li>
          <% end %>
          <li><%= link_to "Weddings List", weddings_path %></li>

          <% else %>

          <% end %>
        </ul>

        <ul class="right">
        <% if user_signed_in? %>
          <li class="has-dropdown">
            <a href="#"><%= current_user.email %></a>
            <ul class="dropdown">
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
          <% else %>
          <li><%= link_to "Home/Login", new_user_session_path %></li>
          <li><%= link_to "Register",new_user_registration_path %></li>
          <% end %>
        </ul>
      </section>

    </nav>
  </div>
</header>

