<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

    <nav class="tab-bar top-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title"><%= image_tag("logo.png", class: "header-logo") %>WeiDings</h1>
      </section>

    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <% if user_signed_in? %>

        <% if session[:current_wedding] %>
        <li><label>Active Wedding</label></li>
        <% current_wedding = Wedding.find(session[:current_wedding]) %>
        <li><%= link_to current_wedding.name, wedding_path(session[:current_wedding]) %></li>
        <% end %>

  <li><label>Weddings</label></li>        
  <% Wedding.all.order(created_at: :desc).each do |wedding| %>

 <% if wedding.attendances.find_by(user_id: current_user.id) %>
 <li><%= link_to wedding.name, wedding_path(wedding) %></li>
 <% end %>

  <% end %>

        <li><label><%= current_user.email %></label></li>
        <li><%= link_to "Weddings List", weddings_path %></li>
        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      </li>
      <% else %>
      <li><%= link_to "Login", new_user_session_path %></li>
      <li><%= link_to "Register",new_user_registration_path %></li>
      <% end %>
    </ul>
  </aside>

  <section class="main-section">

