<div class="attendance-container clearfix">
<% if attendance.user_id %>
  <h3><%= attendance.user.first_name %> <%= attendance.user.last_name%></h3>
  <p>Email: <%= attendance.email %></p>
  <% else %>
  <h3><%= attendance.email %></h3>
  <% end %>
  <div class="attendance-buttons right">
  <% if admin_status? %>
    <%= link_to "Uninvite", wedding_attendance_path(@wedding, attendance.id) , method: :delete, class: "button small radius"%>
    <% end %>
  </div>
  <p>Status: <%= attendance.status %></p>


</div>