<h1>Guests registered</h1>

<%= search_form_for @q, url: wedding_attendances_path(params[:wedding_id]) do |f| %>
  <p>
    <%= f.label :email_cont %>
    <%= f.text_field :email_cont %>
  </p>
  <p>
    <%= f.submit class: "button small radius" %>
  </p>
<% end %>

<%= render @attendances %>

<div class="container">
<%=link_to "Invite a guest", new_user_invitation_path, class: "button small radius" %>
</div>