<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>WeiDing Gifts</title>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display|Libre+Baskerville|Cinzel|Josefin+Slab|Open+Sans|Lato|Montserrat' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'logo.png' %>
</head>

<body>

  <%= render "header" %>
  <%= render "flash_messages" %>

  <main>
  <%= yield %>
  </main>
  <%= render "footer" %>

</body>
</html>